form#new-game-form {
    display: none;
}

button#end-game {
    display: none;
}

#game-between {
    display: none;
}

#current-player {
    display: none;
}

h3#match {
    display: none;
    text-align: center;

}

h3#no-match{
    display:none;
    text-align: center;

}

#player-name {
    display:none;
    color: #F2304A;
    text-align: center;
    font-size: 45px;
}

.players {
    display: none;
}

.player-names {
    font-size: 35px;
}

.matches {
    font-size: 20px;
}



button {
    margin: 10px;
}

.card-back {
    background-image: url('pattern.jpg');
    background-size: cover;
    opacity: 0.8;

}

.btn {
    font-size: 25px;
}
body {
    color: #6699FF;
    font-family: 'Rokkitt' serif;
    background-image: url("escheresque_ste_@2X.png");
    background-attachment:fixed;
}

table {
    position: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
    margin-left:auto;
    margin-right:auto;
}

td {
  height: 150px;
  width: 125px;
  border: 10px solid rgba(131,139,131,0.7);
  list-style-position: absolute;
}

#card-image {
    height: 125px;
    width: 100px;
}

.no-background {
    background-color: #484848;
    opacity: 0.7;
}

.match-header {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

p {
    font-weight: bold;
}

h4 {
    font-size: 40px;
    text-align: center;
}

h1 {
    color: #6699FF;
    text-align: center;
    font-size: 75px;
    font-family: 'Rokkitt' serif;
    font-style: bold;

}

#winner {
   color: #F2304A;
   font-size: 75px;
}


